:root {

    /* Colores */

    --primary: #673de6;
    --secundary:#ffffff;
    --card:#5025D1;

    /* Media Queríes  */
    --phone: 320px;
    --tablet: 650px;
    --desktop: 1050px;

    /* Card */
    --img-1050: 688px;
    --img-650: 508px;
    --img-320: 288px;
    --card-1050:688px;
    --card-650:508px;
    --card-320:288px;
    /* Fuentes */

    /* Separaciones */

}
