:root {

    /* Colores */
    --fondo-primario: #121212;
    --fondo-secundario: #232329;
    --fondo-icons:#a8a5ff;
    --borde-nav: black;
    --text-p: #e3e3e8;
    --text-especial: #9e9ce5;;
    --atajo-especial: #666489;
    --atajo:#6e6d72;
    --separador: #31303B;
    --borde-buttom-focus: #6965DB;
    --icons: #d6d6d6;

    /* Tipografia */
}