button {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #3a3737;
}
button:hover{
  background-color: #3a3737;
  color: antiquewhite;
  border: 1px solid antiquewhite;
  opacity: .8;
}