/* Global Styles */

* {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: rgba(253, 243, 252, 0.5);
    font-family: "DM Sans",sans-serif;
}

.section-button {
    width: 430px;
}

.section-discount {
    width: 430px;
    color: #727586;
}

.section-card {
    width: 430px;
    font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
}

/* Seccion Buttons*/

.button {
    width: 248px;
    height: 48px;
    border-radius: 8px;
    font-size: medium;
    text-align: center;
    padding-top: 15px;
    margin: 30px 30px 0 30px;
}

.button-morado {
    background-color: #673DE6;
    color: white;
    }
.button-blanco {
    background-color: white;
    color: #673DE6;
    border: 2px solid #673de6;
}
.button-gris {
    background-color: rgb(230,236,255);
    color: #2f1c6a;
    border: none;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    line-height: 24px;
    border-radius: 20px;
    padding: 4px 2px;
    margin: 30px 0px ;
    width: 125px;
}
.button-calzado {
    box-sizing: unset;
    width: 130px;
    height: 25px;
    background-color: #D9E7FA;
    color: #3483fa;
    font-size: 15px;
    font-weight: 600;
    line-height: 12px;
    text-align: center;
    padding: 2px 8px;
    border-radius: 6px;
    border: 0 solid transparent;
}

/* Seccion Descuentos */

.moneda {
    text-decoration: line-through;
    padding: 0 1px;
}
.valor {
    text-decoration: line-through;
    padding: 0 1px;
}

.discount-amount {
    width: 300px;
    color: #2F1C6A;
    font-size: large;
    margin: 30px 0 0 5px;
}
.valor-grande {
    font-size: 50px;
}

/* Seccion Card */

.card-item {
    box-sizing: unset;
    margin: 30px;
    width: 163px;
    height: 310px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}
.card-item_titulo {
    box-sizing: unset;
    width: 135.198px;
    height: 20px;
    padding: 16px 12px 16px 16px;
    font-size: 15px;
    font-weight: 600;
    color: #000000E6;
}
.card-item_imagen {
    text-align: center;
}
img {
    width: 105px;
    height: 105px;
}
.card-item_texto{
    box-sizing: unset;
    width: 131.198px;
    height: 48px;
    padding: 12px 16px 12px 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}
.card-item_button {
    /* box-sizing: unset; */
    width: 163px;
    height: 56px;
    margin-top:25px ;
    text-align: center;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}
/* .card-item_texto:hover span{
    color: #3483fa;
} */
.card-item:hover .card-item_texto{
    color: #3483fa;
}
/* 
section:hover .button-morado{
    background-color: white;
    color: #673DE6;
    border: 2px solid #673de6;
} */